<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="{{ modalId }}"
  *ngIf="show"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Update Employee</h3>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div class="field">
          <div class="sub-field">
            <label for="name">Name: </label><input class="input" type="text" />
          </div>
          <div class="sub-field">
            <label for="address">Address: </label><input class="input" type="text" />
          </div>
          <div class="sub-field">
            <label for="year">Year Joined: </label><input class="input" type="text" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <app-button
          type="button"
          text="Close"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        ></app-button>
        <app-button
          type="button"
          class="btn btn-primary btn-sm"
          text="Update"
        ></app-button>
      </div>
    </div>
  </div>
</div>
